body{
  background-color: yellow;
  background-image: linear-gradient(90deg,black,yellow);


}

h1{
  font-family: 'Titillium Web', sans-serif;
  font-size: 150px;
  background: -webkit-linear-gradient(90deg,yellow,black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

}

.box {
  font-family: 'Exo 2', sans-serif;
  font-size: 40px;
  min-height: 300px;
  background-color: white;
  color: black;
  margin: 50px auto;
  width: 50%;
  border-color: red;
  padding 15px;
  border-style: dashed;
}



.bigTxt {
  font-size: 72px;
  background: -webkit-linear-gradient(60deg,black,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   text-align: center;
}

.newbar{
  background-color: white;
}
